$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
// endbower

.header {
  position: relative;

  .header-photo {

  }

  .header-name {

  }

  .header-social{
    .header-social-button{
      float: left;

      width: 24px;

      padding: 1px;
      margin: 1px;

      text-align: center;
      font-size: 1em;

      color: #ffffff;
      background-color: cadetblue;
      border-bottom: 2px solid #3c6c6e;
    }
  }



  .header-contact{
    .header-contact-button{

    }
  }


}