$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
// endbower

@mixin box-shadow ($what...) {
  -webkit-box-shadow: $what;
  -moz-box-shadow:    $what;
  box-shadow:         $what;
}

@mixin transition($what: all 200ms ease-out) {
  -webkit-transition: $what;
  -moz-transition: $what;
  -ms-transition: $what;
  -o-transition: $what;
  transition: $what;
}


.header {
  position: relative;
  z-index: 4;

  height: 150px;
  background-color: darkgray;

  @include box-shadow(0px 1px 10px black);

  background: rgb(182,175,164); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(182,175,164,1) 0%, rgba(221,215,204,1) 36%, rgba(184,174,166,1) 64%, rgba(174,162,154,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(182,175,164,1)), color-stop(36%,rgba(221,215,204,1)), color-stop(64%,rgba(184,174,166,1)), color-stop(100%,rgba(174,162,154,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(182,175,164,1) 0%,rgba(221,215,204,1) 36%,rgba(184,174,166,1) 64%,rgba(174,162,154,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(182,175,164,1) 0%,rgba(221,215,204,1) 36%,rgba(184,174,166,1) 64%,rgba(174,162,154,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(182,175,164,1) 0%,rgba(221,215,204,1) 36%,rgba(184,174,166,1) 64%,rgba(174,162,154,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(182,175,164,1) 0%,rgba(221,215,204,1) 36%,rgba(184,174,166,1) 64%,rgba(174,162,154,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6afa4', endColorstr='#aea29a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .header-photo {
    position: relative;
    float: left;
    z-index: 2;
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #000000;
    @include box-shadow(1px 1px 1px black);

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .header-cv {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 100%;
      height: 100%;

      opacity: 0;
      background-color: rgba(0,0,0,0.7);
      color: #ffffff;
      text-shadow: 1px 1px 1px black;

      text-align: center;

      @include transition(opacity 200ms ease-out);

      i {
        position: absolute;
        width: 100%;
        font-size: 4em;
        top: 15px;
        left: 0;
      }

      div {
        position: absolute;
        width: 100%;
        font-size: 0.8em;
        bottom: 3px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .languages {
    position: absolute;
    top : 120px;
    left: 35px;
    width: 100px;
    z-index: 1;

    .lang {

      width: calc(33.33% - 2px);
      margin: 1px;
      float: left;
      text-align: center;
      color: #ffffff;
      background-color: darkgray;
      &.lang-en {
        border-bottom: 2px solid #3c6c6e;
        &:hover {
          background-color: #6badaf;
        }
        &.current{
          background-color: cadetblue;
        }
      }
      &.lang-fr {
        border-bottom: 2px solid #01196e;
        &:hover {
          background-color: #2359be;
        }
        &.current{
          background-color: #1f4ea0;
        }
      }
      &.lang-zh {
        border-bottom: 2px solid #620004;
        &:hover {
          background-color: #be0006;
        }
        &.current{
          background-color: #a10006;
        }
      }
    }
  }

  .header-name {
    position: relative;
    float: left;
    margin: 20px 10px;
    font-size: 2em;
    color: #2F2919;
    text-shadow: 2px 1px 0px rgba(255,255,255,0.8);

    .header-social {

      color: #ffffff;
      text-shadow: none;
      .header-social-button {
        float: left;

        width: 24px;

        padding: 1px;
        margin: 1px;

        text-align: center;
        font-size: 0.5em;

        color: #ffffff;
        &.linkedin {
          background-color: cadetblue;
          border-bottom: 2px solid #3c6c6e;
          &:hover {
            background-color: #6badaf;
          }
        }
        &.skype {
          background-color: #1f4ea0;
          border-bottom: 2px solid #01196e;
          &:hover {
            background-color: #2359be;
          }
        }
        &.wechat {
          background-color: #00a104;
          border-bottom: 2px solid #006e04;
          &:hover {
            background-color: #00af04;
          }
        }
        &.qq {
          background-color: #a10006;
          border-bottom: 2px solid #620004;
          &:hover {
            background-color: #be0006;
          }
        }
      }
    }
  }
  
  .header-menu {
    position: relative;
    float: right;
    height: 120px;
    margin: 20px 10px 0px 10px;

    .header-menu-item {
      float: left;
      width: 100px;
      height: 100px;
      font-size: 14px;
      margin: 0px 6px;
      color: #ffffff;
      background-color: cadetblue;
      border-bottom: 2px solid #3c6c6e;
      transform: scale(1);

      border-radius: 0px;

      @include transition();

      text-align: center;


      i {
        position: absolute;
        width: 100%;
        font-size: 4em;
        top: 15px;
        left: 0;

        @include transition();
      }

      div {
        position: absolute;
        width: 100%;
        font-size: 0.8em;
        bottom: 3px;

        overflow: hidden;
        white-space : nowrap;
        @include transition();
      }

      &:hover {
        border-radius: 50%;

        div {
          font-size: 0px;
        }

        i {
          top: 20px;
        }
      }
    }
  }

}

.header-navigator {
  position: relative;
  margin-top : 0px;
  padding: 0;
  z-index: 3;

  @include transition();

  &.closed-panel {
    margin-top : -100px;
  }

  .header-canvas{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #ffffff;

    canvas {
      position: relative;
      top : 0px;
      width: 100%;
      height: 100px;
      opacity: 1;
      @include transition();

      &.closed-panel {
        top: -100px;
        opacity: 0;
      }
    }
  }

  .header-switch{
    position: absolute;

    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: yellowgreen;
    border-bottom: 2px solid #769d26;

    text-align: center;

    @include box-shadow(0px 1px 10px black);

    &:hover {
      background-color: #afe838;
    }
  }
}

.main-container {
  position: relative;
  z-index: 2;
  min-height: 50px;
  background-color: #ffeace;
  padding: 30px 20px;

  @include box-shadow(inset 0px 0px 20px #83776c, 0px 0px 20px 5px black);
}

body {
  background-image: url('../images/bruit.png');
}

.clickable:hover{
  cursor: pointer;
}

//Under 1200px of width
@media (max-width: 1200px) {
  .header {
    .header-menu {
      .header-menu-item {
        width: 70px;
        height: 70px;
        margin: 0px 6px;
        i {
          font-size: 2.5em;
          top: 7px;
        }
        div {
          font-size: 0.6em;
          bottom: 4px;
          white-space: normal;
        }
        &:hover {
          i {
            top: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .header-menu {
      width : 300px;
      .header-menu-item {
        width: 50px;
        height: 50px;
        margin: 0px 6px 6px 0px;
        i {
          font-size: 1.5em;
          top: 2px;
        }
        div {
          font-size: 0.5em;
          bottom: 1px;
          white-space: normal;
        }
        &:hover {
          i {
            top: 14px;
          }
        }
      }
    }
  }
}


@media (max-width: 700px) {
  .header {
    .header-menu {
      width : 240px;
    }
  }
}