<div class="container-title diplomas">
  <span>{{'label.menu-diplomas' | i18n}}</span>
</div>
<div class="content">
  <h3>2014 : Certification OCPJP / SCJP</h3>
  <ul>
    <li> Score: 81%</li>
  </ul>

  <h3>2012 - 2014 : Master Mathématiques et Informatique</h3>
  <ul>
    <li> UFRST - Le Havre</li>
    <li> Option : MATIS (Mathématiques-Informatique des Systèmes Complexes et Distribués)</li>
    <li> Parcours : SIRES (Systèmes Informatique, Réseaux et Sécurité) </li>
    <li> Unités libres : Intelligence Artificielle et Infographie</li>
    <li> Mention : Bien</li>
  </ul>

  <h3>2011 - 2012 : Licence 3 Informatique</h3>
  <ul>
    <li> UFRST - Le Havre</li>
    <li> Option : Probabilités pour l'informatique </li>
  </ul>

  <h3>Aout 2012 : 3 semaines de cours de chinois intensifs </h3>
  <ul>
    <li> Dalian University of foreign languages</li>
    <li> Equivalent niveau 4</li>
  </ul>

  <h3>Mai 2012 : HSK (Hanyu Shuiping Kaoshi) niveau 2 </h3>
  <ul>
    <li> Inalco - Paris</li>
    <li> 188 / 200</li>
  </ul>

  <h3>2009 - 2011 : DUT Informatique</h3>
  <ul>
    <li> IUT - Le Havre</li>
    <li> Option : Génie Logiciel</li>
  </ul>

  <h3>2007 - 2009 : Baccalauréat Série S</h3>
  <ul>
    <li> Lycée Jules Siegfried - Le Havre</li>
    <li> Spécialité : Mathématiques</li>
    <li> Option : Sciences de l'ingénieur </li>
  </ul>

</div>