<div class="header container">
  <div class="header-photo">
    <img src="images/myhead.jpg">
    <div class="header-cv clickable">
      <i class="fa fa-save"></i>
      <div>Curriculum Vitae</div>
    </div>
  </div>
  <div class="header-name">Jason Conard
    <div class="header-social">
      <div class="header-social-button linkedin clickable"><i class="fa fa-linkedin"></i></div>
      <div class="header-social-button skype clickable"><i class="fa fa-skype"></i></div>
      <div class="header-social-button wechat clickable"><i class="fa fa-wechat"></i></div>
      <div class="header-social-button qq clickable"><i class="fa fa-qq"></i></div>
    </div>
  </div>
</div>
