<div class="header container">
  <div class="header-photo"><img src=""></div>
  <div class="header-name">Jason Conard</div>
  <div class="header-social">
    <div class="header-social-button"><i class="fa fa-linkedin"></i></div>
    <div class="header-social-button"><i class="fa fa-skype"></i></div>
    <div class="header-social-button"><i class="fa fa-wechat"></i></div>
    <div class="header-social-button"><i class="fa fa-qq"></i></div>
  </div>
  <div class="header-contact">
    <div class="header-contact-button"><i class="fa"></i> {{'' | i18n}}</div>
    <div class="header-contact-button"><i class="fa"></i> {{'' | i18n}}</div>
    <div class="header-contact-button"><i class="fa"></i> {{'' | i18n}}</div>
  </div>
</div>
