<div class="header container">
  <div class="header-photo">
    <img src="images/myhead.jpg">
    <div class="header-cv clickable">
      <i class="fa fa-save"></i>
      <div>Curriculum Vitae</div>
    </div>
  </div>
  <div class="header-name">Jason Conard
    <div class="header-social">
      <div class="header-social-button linkedin clickable"><i class="fa fa-linkedin"></i></div>
      <div class="header-social-button skype clickable"><i class="fa fa-skype"></i></div>
      <div class="header-social-button wechat clickable"><i class="fa fa-wechat"></i></div>
      <div class="header-social-button qq clickable"><i class="fa fa-qq"></i></div>
    </div>
  </div>

  <div class="header-menu">
    <div class="header-menu-item clickable" ng-repeat="item in menu">
      <i class="fa fa-{{item.icon}}"></i>
      <div>{{item.text | i18n}}</div>
    </div>
  </div>
</div>

<div class="header-navigator container" ng-class="{'closed-panel' : !switchCanvas}">
  <div class="header-switch clickable" ng-click="switchCanvas = !switchCanvas">
    <i ng-if="switchCanvas" class="fa fa-chevron-up"></i>
    <i ng-if="!switchCanvas" class="fa fa-chevron-down"></i>
  </div>
  <div class="header-canvas">
    <canvas id="header-canvas" ng-class="{'closed-panel' : !switchCanvas}"></canvas>
  </div>
</div>