<div id="work-exp">
  <h3>Passion pour le jeu vidéo et le développement de jeux vidéo</h3>
  <ul>
    <li> Utilisation de RPG Maker 2003</li>
    <li> Dessins en pixel art (voir gallerie)</li>
    <li> Travail sur de la réalité augmentée sous Unity3D </li>
    <li> Connaissances d'OpenGL </li>
  </ul>

  <h3>Passion pour la culture asiatique</h3>
  <ul>
    <li> Grand consommateur de jeux japonais et de mangas </li>
    <li> Parle chinois (mandarin) couramment, apprentissage du Cantonais en cours </li>
    <li> 3 voyages en Chine (1 mois en 2012, 2 mois en 2013, 18 jours en 2015) </li>
    <li> Apprentissage du Japonais en cours </li>
  </ul>
</div>