<div id="profile">
  Je m'appelle Jason Conard. <br/>
  Je travaille sur les technologies AngularJS, CSS3, HTML5, Java8 et Android. <br/>
  Je suis actuellement Ingénieur en Informatique avec une mention spéciale pour les technologies Java et J2EE chez
  EBusiness Information. <br/>
  <br/>
  Je travaille actuellement sur les projets DesignMyApp, et EvenŦribe en tant que développeur front sous AngularJS et
  développeur Android. <br/>
  Ces projets sont reliés au FIContent, le consortium européen lié au futur d'internet. <br/>
  <br/>
  J'ai un attrait particulier pour toutes les technologies liées au design, autant en 2D qu'en 3D. <br/>
  J'ai pas mal touché au Pixel Art pour faire des graphismes dits rétro, au CSS3 pour le design de site WEB, à OpenGL
  et à Unity3D pour de la 3D. <br/>
  Je sais parler le Français, le Chinois (Mandarin) et l'Anglais. Il m'est d'ailleurs arrivé plusieurs fois d'aller
  en Chine. <br/>
</div>