<div id="profile">
  Je m'appelle Jason Conard. <br/><br/>

  Je travaille sur les technologies <strong>AngularJS 1.3.15, CSS3, HTML5, Java 8 et Android</strong>. <br/><br/>

  Le design, c'est mon dada, pour moi les intéractions doivent être dynamiques, chaque élément doit être animé pour attirer
  le regard. Bien sûr il faut qu'elles desservent juste l'ergonomie. C'est pour cela que j'agis avec force et détermination
  pour comprendre tous les détails d'Angular, de Javascript, de CSS3, d'HTML5 et des différents logiciels de retourche d'image
  et d'édition d'image vectorielle que j'utilise. <br/>
  <strong>En gros j'aime gérer ce qui se voit, ce que le client reçoit de manière dynamique et optimisée.</strong><br/><br/>

  Je suis actuellement Ingénieur en Informatique et Consultant avec une mention spéciale pour les technologies Java et J2EE chez
  EBusiness Information. <br/>
  Je travaille actuellement sur les projets <a href="http://designmyapp.mobi" target="_blank">DesignMyApp</a>
  , <a href="http://eventri.be" target="_blank">EvenŦribe</a> et <a href="http://osm.designmyapp.mobi" target="_blank">Openstreetmap.fr </a>
  en tant que développeur front et lead dev sous AngularJS 1.3.15 et son environnement. <br/><br/>

  J'ai un attrait particulier pour toutes les technologies liées au design, autant en 2D qu'en 3D. <br/>
  J'ai pas mal touché au <strong>Pixel Art</strong> pour faire des graphismes dits rétro, au <strong>CSS3</strong>
  pour le design de site WEB, à <strong>OpenGL</strong>  et à <strong>Unity3D</strong> pour de la 3D<br/><br/>
  Je pratique souvent <strong>Photoshop</strong> et <strong>Gimp</strong> pour la retouche d'image ainsi que
  <strong>Illustrator</strong> et <strong>Inkscape</strong> pour l'image vectorielle. <br/><br/><br/>
  Je sais parler le Français, le Chinois (Mandarin) et l'Anglais. Il m'est d'ailleurs arrivé plusieurs fois d'aller
  en Chine. J'apprend actuellement le Japonais en auto-didacte. <br/>
  J'ai également donné quelques formations soug <strong>AngularJS<</strong> en interne ainsi qu'un cours de webdesign dans une école d'ingéneieur généraliste (EPF).
</div>