<div id="projects">
  <div class="projects-container">
    <div class="projects-item clickable">
      <img src="">
      <div class="projects-title">2015 <br/> TileMaker</div>
      <div class="projects-company">EBusiness Information</div>
    </div>

    <div class="projects-item clickable">
      <img src="">
      <div class="projects-title">2014 <br/> EvenŦribe</div>
      <div class="projects-company">EBusiness Information</div>
    </div>

    <div class="projects-item clickable">
      <img src="">
      <div class="projects-title">2014 <br/> DesignMyApp</div>
      <div class="projects-company">EBusiness Information</div>
    </div>

    <div class="projects-item clickable">
      <img src="">
      <div class="projects-title">2013 <br/> 3D Stéréoscopique</div>
      <div class="projects-company">Université du Havre</div>
    </div>
  </div>


</div>