<div class="container-title work">
  <span>{{'label.menu-professional' | i18n}}</span>
</div>
<div class="content">
  <h3>2011 - Stage à la Communauté de Communes de Caux vallée de Seine (CVS)</h3>
  <ul>
    <li>10 semaines.</li>
    <li>Développement Web d’interfaces de gestion (en ASP, PHP et JavaScript).</li>
    <li>Utilisation d’Access, de Photoshop.</li>
    <li>Interventions et Télécommunications (Hotline) avec différents partenaires afin de rendre divers services techniques. (Installer des ordinateurs, connecter les ordinateurs au réseau CVS, faire des assistances à distances via VNC).</li>
  </ul>

  <h3>2012 - Stage au Grand Port Maritime du Havre</h3>
  <ul>
    <li>11 semaines.</li>
    <li>Développement d’interfaces web pour la gestion du service informatique via la démarche ITIL.</li>
    <li>Utilisation d’Éclipse, d’Apache Struts 2 (Framework implémentant MVC), développement Java, JSP, HTML5, JavaScript, AJAX.</li>
    <li>Utilisation de JQuery et de Twitter Bootstrap pour la refonte et standardisation des designs des applications du port.</li>
  </ul>

  <h3>2014 - Stage chez EBusiness Information</h3>
  <ul>
    <li>6 mois</li>
    <li>2 mois de formation sur les technologies autour de J2EE dont Spring, Hibernate ...</li>
    <li>2 mois sur une projet de réalité augmentée sous Android avec Unity3D.</li>
    <li>2 mois sur le front-end de DesignMyApp avec l'utilisation d'AngularJS 1.2.16, de CSS3 et HTML5.</li>
  </ul>

  <h3>2014... - Ingénieur en Informatique chez EBusiness Information</h3>
  <ul>
    <li>Encore en cours ...</li>
    <li>Développeur front-end sur les projets DesignMyApp et EvenŦribe sous AngularJS 1.2.16, CSS3 et HTML5.</li>
    <li>Développeur Android sur DesignMyApp occasionellement.</li>
  </ul>
</div>
